<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Productos</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Grupo </th><th>Imagen</th><th>Descripción</th>
            </tr>
            {% for p in productos %}
            <tr>
                <td>{{ p.grupo }}</td>
                <td><img src="static/{{ p.imagen }}" width="200px"></td>
                <td>{{ p.descripcion }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>